<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is necessary to accurately calculate the latency between neighboring devices for calculating their distance.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Bonjour is necessary for discovering other local peers to build the mesh network.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Using the microphone is necessary to calculate the distance between this and other devices using the difference in network versus acoustic delays.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_andreworals-AIn._tcp</string>
		<string>_andreworals-AIn._udp</string>
	</array>
</dict>
</plist>
